{% extends "users/base.html" %}
{% block title %}Posts-Detail{% endblock title %}
{% block content %}
<h4 class='mb-3'>Posts by {{ view.kwargs.username }}</h4>

    <article class="media content-section">
        <img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}" />
        <div class="media-body">
            <div class="article-metadata">
            {% comment %} <a class="mr-2" href="{% url "users-blog" object.author.username  %}">{{ post.author }}</a> {% endcomment %}
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2>{{ object.title }}</h2>
            <p class="article-content">{{ object.content|safe }}</p>
        </div>
    </article>

{% endblock content %}